:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #COCOCO;
    --botao-azul: #167BF7;
    --cor-de-fundo: #OOO3OC;
    --fonte-principla: 'inter';
    --botao-azul-efeito: #3c92fa;
}