:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #COCOCO;
    --botao-azul: #167BF7;
    --cor-de-fundo: #OOO3OC;
    --fonte-principla: 'inter';
    --botao-azul-efeito: #3c92fa;
}
body{

    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principla);
    font-size: 16px;
    font-weight: 400;
}

